body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.drawer-nav{
  height: 100vh;
  width: 340px;
  overflow-y: scroll;
  background:#222629;

}
 /* width */
 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(221, 221, 221);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
  border-radius: 10px;
} 

.drawer-nav ul{
  padding: 0px;
  background:#222629;
}
.drawer-nav ul li{
  padding: 20px 0px;
  padding-left: 40px;
  list-style: none;
  margin: 0;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}
.drawer-nav ul li:hover{
background: rgba(0, 0, 0, 0.034);
}
#home, #transaction, #apparatus , #chemical, #report, #ActivityLog, #TransHistory, #theCritical, #DueDate, #Settings{
  display: none;
}
#home, #transaction, #apparatus , #chemical, #report, #ActivityLog, #TransHistory, #theCritical, #DueDate, #Settings{ 
  width: 945px;
  height: 100vh;
  overflow-y: scroll;
}

.button-cover{
  display: flex;
  justify-content: center;
}

.pageButtons{
  width: 300px;
  display: flex;
  justify-content: space-between;
  /* float: right; */
  font-size: 10px;

}

.pageButtons span{
  color: rgb(92, 92, 92);
  fill: rgb(124, 124, 124);
  font-size: 10px;
  cursor:pointer;
}
.pageButtons span:hover{
  color: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
}
.transHis_pageNumber{
  color: rgb(63, 63, 63);
  font-size: 10px;
}


/* animation: slideRight 0.4s ease-in-out forwards; */
@keyframes slideRight{
  from {
    opacity:0;
    transform:translateX(50%);
  }
  to {
    opacity: 1;
    transform:translateX(0%);

  }
}

@keyframes slideDown{
  from {
    opacity:0;
    transform:translateY(-50%);
  }
  to {
    opacity: 1;
    transform:translateY(0%);

  }
}


@keyframes zoomIn{
  from {
    opacity:0;
    width: 0px;
    height: 0px;
  }
  to {
    opacity: 1;
  }
}



